Here is the complete SQL for the three tables with RLS enabled and policies configured to allow anonymous access (since your app uses the anon key and guest sessions). This assumes you're running this in your Supabase SQL editor or psql. It includes the table creation, RLS enablement, and policies for insert/select/update/delete where needed. The tables are connected via the foreign key in order_items.

-- Create orders table
create table public.orders (
  id uuid not null default gen_random_uuid (),
  user_id uuid null default auth.uid (),
  guest_id text null,
  order_data jsonb null,
  created_at timestamp without time zone null default now(),
  constraint orders_pkey primary key (id)
) TABLESPACE pg_default;

-- Enable RLS on orders
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;

-- Policies for orders (allow anon to do everything, as the app handles guest_id client-side)
CREATE POLICY \
Allow
anon
all
on
orders\ ON public.orders FOR ALL USING (auth.role() = 'anon');

-- Create order_items table
create table public.order_items (
  id uuid not null default gen_random_uuid (),
  order_id uuid null,
  item_name text not null,
  quantity integer not null,
  price numeric(10, 2) not null,
  created_at timestamp without time zone null default now(),
  constraint order_items_pkey primary key (id),
  constraint order_items_order_id_fkey foreign KEY (order_id) references orders (id) on delete CASCADE
) TABLESPACE pg_default;

-- Enable RLS on order_items
ALTER TABLE public.order_items ENABLE ROW LEVEL SECURITY;

-- Policies for order_items (allow anon to do everything)
CREATE POLICY \Allow
anon
all
on
order_items\ ON public.order_items FOR ALL USING (auth.role() = 'anon');

-- Create menu table
create table public.menu (
  id uuid not null default extensions.uuid_generate_v4 (),
  name text not null,
  description text null,
  price numeric(10, 2) not null,
  category text not null,
  created_at timestamp with time zone null default now(),
  constraint menu_pkey primary key (id)
) TABLESPACE pg_default;

-- Enable RLS on menu
ALTER TABLE public.menu ENABLE ROW LEVEL SECURITY;

-- Policies for menu (allow anon to select only, since menu is read-only)
CREATE POLICY \Allow
anon
select
on
menu\ ON public.menu FOR SELECT USING (auth.role() = 'anon');

-- Optional: If you want authenticated users to have access too, add similar policies for 'authenticated' role, e.g.:
-- CREATE POLICY \Allow
authenticated
all
on
orders\ ON public.orders FOR ALL USING (auth.role() = 'authenticated');
-- But for now, this should work for your anon-based app.
